.application_search {
  &--filter-wrapper {
    background: var(--color-black-5);
    form {
      display: flex;
      flex-flow: row wrap;
      gap: var(--spacing-s);
      .form-item {
        width: 33%;
        width: calc(calc(100% - var(--spacing-s) - var(--spacing-s)) / 3);
        min-width: fit-content;
        .grant-applications--select-wrapper {
          min-width: 250px;
        }
      }
      .hds-text-input:first-child {
        max-width: none;
        width: 100%;
        input {
          width: 100%;
        }
      }
      .form-actions {
        width: 33%;
        width: calc(calc(100% - var(--spacing-s) - var(--spacing-s)) / 3);
        display: flex;
        align-items: center;
        input {
          width: 100%;
          min-width: 250px;
        }
      }
    }
    .hds-koros svg pattern {
      color: var(--color-black-5);
    }
    .hero .hero__arrow {
      background-color: var(--color-copper);
    }
  }
  &--filters {
    padding-top: var(--spacing-layout-xl);
    padding-bottom: var(--spacing-layout-m);
  }
}

.application_search--rows {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;

  @include breakpoint($breakpoint-s) {
    flex-direction: row;
    margin-left: calc(-1 * var(--spacing-m));
    width: calc(100% + var(--spacing-m));
  }
}


.application_search--row {
  margin-bottom: var(--spacing-l);
  position: relative;
  width: 100%;
  border: 1px var(--color-black-20) solid;
  h3 {
    font-size: var(--fontsize-heading-m);
    margin-top: var(--spacing-xs);
  }
  @include breakpoint($breakpoint-s) {
    margin-left: var(--spacing-m);
    width: calc(50% - var(--spacing-m));

    @include breakpoint($breakpoint-l) {
      width: calc(calc(100% / 3) - var(--spacing-m));
    }
  }
  .paragraph-formatter {
    display: block;
    .paragraphs-description {
      .paragraphs-content-wrapper {
        height: auto;
        overflow: auto;
        word-break: normal;
        .summary-content {
          color: var(--color-black);
          &::after {
            display: inline;
            content: "...";
          }
        }
      }
    }

  }
  .views-field {
    padding: var(--spacing-xs) var(--spacing-m) 0;
  }

  .views-field-field-avustuslaji {
    padding: 0;
  }
  .views-field-field-target-group {
    .field-content {
      display: inline-block;
      padding: var(--spacing-3-xs) var(--spacing-xs);
      border-radius: var(--spacing-m);
      background: var(--color-black);
      color: var(--color-white);
    }
  }
  .views-field-field-application-period .field-content {
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--spacing-s);
    span {
      display: block;
    }
  }

  .tag_avustuslaji {
    background: var(--color-black-20);
    color: var(--color-black);
    width: 100%;
    text-align: center;
    padding: var(--spacing-m);
    text-transform: uppercase;
    font-weight: bold;
    font-size: var(--fontsize-body-s);
    &_1 {
      background: var(--color-brick-medium-light)
    }
  }
}
