$breakpoint-xs: 320px;
$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-l: 992px;
$breakpoint-xl: 1248px;

.hero.hero--no-background {
  background: none;
  .hero__category {
    font-size: var(--fontsize-heading-m);
    @include breakpoint($breakpoint-m) {
      font-size: var(--fontsize-heading-l);
    }
  }
  .hero__title {
    font-size: var(--fontsize-heading-l);
    @include breakpoint($breakpoint-m) {
      font-size: var(--fontsize-heading-xxl);
    }
  }
}
