$item_spacing: $spacing-triple;

.list-of-links {
  .list-of-links {
    &__title {
      margin: 0;
    }
    &__content {
      display: grid;
      grid-template-columns: auto auto auto;
      margin-top: 0;
      height: auto;
    }
    &__item {
      border-left: 3px solid $color-engel-dark;
      margin-right: -3px;
      height: 100%;
      align-self: stretch;

      @include breakpoint($breakpoint-s) {
        flex-direction: row;
        padding-left: $item_spacing / 2;
        padding-right: $item_spacing / 2;
        width: 100% !important;
      }
    }
  }
}
