

<h3>Omat hakemukset</h3>

<div>
    <label for="applicationListFilter">Filter / hae</label>
    <input type="text" name="applicationListFilter" />
</div>
<div>
    <label for="applicationListSort">Filter / hae</label>
    <select>
        <option>Viimeks lähetetty</option>
        <option>Viimeks tallennettu</option>
        <option>Aakkosjärjestys (Hakemustyyppi)</option>
        <option>Aakkosjärjestys (Hakemusnumero)</option>
    </select>
</div>

<div>
    <ul>
        {% for item in items %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
</div>