<div class="application-list__item--status application-list__item--status--{{ statusString|lower }} applicationStatusCheckable" data-application-number="{{ applicationNumber }}">
  {{ statusStringHumanReadable }}
</div>
