<h3>{{ 'Olet kopioimassa hakemusta'|t }}</h3>
<div>{{ 'Voit kopioida ja käyttää tämän hakemuksen tietoja uudessa hakemuksessa. Hakemuksen liitetiedostot eivät kopioidu uuteen hakemukseen.'|t }}</div>
{{ form }}