/** Override HDS to match helfi */

.hds-button--primary {
    --background-color: var(--color-black);
    --background-color-hover: var(--color-black);
    --background-color-focus: var(--color-black);
    --background-color-hover-focus: var(--color-black);
    --background-color-disabled: var(--color-black-20);
    --border-color: var(--color-black);
    --border-color-hover: var(--color-black);
    --border-color-focus: var(--color-black);
    --border-color-hover-focus: var(--color-black);
    --border-color-disabled: var(--color-black-20);
    --color: var(--color-white);
    --color-hover: var(--color-white);
    --color-focus: var(--color-white);
    --color-hover-focus: var(--color-white);
    --color-disabled: var(--color-white);
    --focus-outline-color: var(--color-coat-of-arms);
    --submit-input-focus-gutter-color: var(--color-white);
}

.hds-button--secondary,
.hds-button--supplementary {
  --background-color: transparent;
  --background-color-hover: var(--color-black-80);
  --background-color-focus: transparent;
  --background-color-hover-focus: var(--color-black-80);
  --background-color-disabled: transparent;
  --color: var(--color-black);
  --color-hover: var(--color-white);
  --color-focus: var(--color-black);
  --color-hover-focus: var(--color-black);
  --color-disabled: var(--color-black-40);
}
.hds-button:not(:disabled) {
  border-color: transparent;
  border-color: transparent;
  border-color: var(--color-black, transparent);
}
.webform-button--delete-draft {
  margin-bottom: var(--spacing-s);
}
