$breakpoint-xs: 320px;
$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-l: 992px;
$breakpoint-xl: 1248px;

.grants-profile--menuitem--login,
.grants-profile--menuitem--logout {
  font-size: var(--fontsize-body-s);
  margin-left: var(--spacing-2-xs);
  margin-right: var(--spacing-2-xs);
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  .hds-icon {
    display: block;
    margin: 0 auto;
  }
  &-triggertext {
    position: absolute;
    bottom: -7px;
  }
  text-align: center;
  width: var(--spacing-m);
  height: var(--spacing-m);
  @include breakpoint($breakpoint-m) {
    width: var(--spacing-2-xl);;
    height: var(--spacing-2-xl);;
  }

}
.block--grants-profile--menuitem {
  display: flex;
  z-index: 2;
  grid-area: brand;
  align-items: center;
}
.block--branding {
  flex-grow: 10;
}
.grants-profile--menuitem {
  margin-left: var(--spacing-2-xs);
  margin-right: var(--spacing-2-xs);
  position: relative;
  width: var(--spacing-m);
  height: var(--spacing-m);
  a {
    text-decoration: none;
  }
  @include breakpoint($breakpoint-m) {
    width: var(--spacing-2-xl);;
    height: var(--spacing-2-xl);;
  }
  &--notifications {
    border-radius: 50%;
    width: var(--spacing-xs) 1.25;
    height: var(--spacing-xs) 1.25;
    line-height: var(--spacing-layout-2-xs);
    border: 2px white solid;
    color: white;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    background-color: var(--color-error);
    position: absolute;
    z-index: 2;
    top: -5px;
    right: -5px;
    font-size: var(--fontsize-body-s);
  }
  &--initials {
    border-radius: 50%;
    width: var(--spacing-m);
    height: var(--spacing-m);
    line-height: var(--spacing-m);
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    &:hover, &:active, &:focus {
      text-decoration: underline;
    }
    @include breakpoint($breakpoint-m) {
      width: var(--spacing-2-xl);;
      height: var(--spacing-2-xl);;
      line-height: var(--spacing-2-xl);;
    }
    &-colorscheme {
      &-2 {
        background-color: var(--color-bus);
        color: var(--color-white);
      }
      &-1 {
        background-color: var(--color-engel);
        color: var(--color-black);

      }
      &-0 {
        background-color: var(--color-tram);
        color: var(--color-white);
      }
    }
  }
}
