.block--service-page-footer {
  background-color: var(--color-engel);
  padding: var(--spacing-layout-s);

  h2 {
    margin-top: 0;
  }

  .hds-icon {
    margin-bottom: var(--spacing-layout-s);
  }
}
