.hds-card--applicant-role {
  max-width: 400px;
  width: 100%;
  margin-bottom: var(--spacing-l);
  margin-right: 0;
}
.hds-card__heading-m {
  margin-top: 0;
  font-size: 1.5rem;
  font-size: var(--fontsize-heading-m);
  font-weight: 500;
  letter-spacing: -.2px;
  line-height: 32px;
}


