.tabs {
  --tablist-border-color: var(--color-black-20);
  --tablist-border-size: 1px;
  --tab-color: var(--color-black);
  --tab-font-size: var(--fontsize-body-m);
  --tab-height: 48px;
  --tab-min-width: 148px;
  --tab-spacing: var(--spacing-s);
  --tab-active-border-size: 5px;
  --tab-active-border-color: var(--color-black);
  --tab-focus-outline-size: 2px;
  --tab-focus-outline-color: var(--color-coat-of-arms);
  display: flex;
  flex-flow: row wrap;

  &--tablist {
    flex-grow: 1;
    position: relative;
    box-sizing: border-box;
    margin-bottom: -1px;
    overflow-x: hidden;
    width: 100%;
  }
  &--content-wrapper {
    width: 100%;
    .container {
      padding-top: 1px;
    }
  }
  [role="tablist"] {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
    padding: var(--tab-focus-outline-size) 0;
  }

  [role="tab"] {
    display: inline-block;
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
    background: transparent;
    cursor: pointer;
    span {
      font-size: var(--tab-font-size);
      position: relative;
      box-sizing: border-box;
      display: flex;
      margin: 0;
      padding: 0;
      min-width: var(--tab-min-width);
      height: var(--tab-height);
      align-items: center;
      justify-content: center;
      padding-left: var(--tab-spacing);
      padding-right: var(--tab-spacing);
      color: var(--tab-color);
      pointer-events: none;
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: var(--tablist-border-size);
        background: var(--tablist-border-color);
        bottom: 0;
        z-index: 100;
      }
    }
  }
  [role="tab"] span:hover::before,
  [role="tab"] span:focus::before,
  [role="tab"][aria-selected="true"] span::before {
    content: "";
    position: absolute;
    width: 100%;
    height: var(--tab-active-border-size);
    bottom: 0;
    background-color: var(--tab-active-border-color);
    z-index: 100;
  }

  [role="tab"][aria-selected="true"] {


  }

  [role="tab"][aria-selected="true"]:not(:focus):not(:hover)::before {

  }

  [role="tab"][aria-selected="true"]::after {


  }

  [role="tab"]:hover,
  [role="tab"]:focus,
  [role="tab"]:active {


  }

  [role="tab"]:hover::before,
  [role="tab"]:focus::before {
  }

  [role="tabpanel"] {


  }

  [role="tabpanel"].is-hidden {
    display: none;
  }

  [role="tabpanel"]:focus {


  }

  [role="tabpanel"]:focus::after {


  }

  [role="tabpanel"] p {

  }

  [role="tabpanel"] * + p {

  }
}
