.page--select-applicant-role {
  background-color: var(--color-black-5);
  body {
    background-color: var(--color-black-5)
  }
  .layout-main-wrapper {
    background-color: var(--color-black-5);
  }
  .main-content {
    margin-top: 0;
  }
  h1 {
    margin-top: var(--spacing-l);
  }
  p {
    margin-bottom: var(--spacing-m);
  }
}
