.webform-submission--view-mode-html, .webform-submission-data-preview-page, .webform-print-page-html {
  .webform-print-wrapper-table {
    border: 0px transparent solid;
    width: 100%;
    max-width: 100%;
    overflow-x: initial;
    display: table;
    thead,
    tbody,
    tfoot,
    tr,
    tbody tr:hover,
    td,
    td:first-child,
    th {
      border: 0;
      background: transparent;
      color: black;
    }

    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        margin-top: 6mm;
      }
    }

    thead {
      display: table-header-group;
    }

    tfoot {
      display: table-footer-group;
    }
  }

  .webform-submission-data > section {
    border-top: 1px var(--color-black-20) solid;
    padding-top: $spacing-quadruple;
    > .webform-section-flex-wrapper {
      display: block;
      > h2 {
        width: 100% !important;
        margin: 0mm 0 2mm !important;
        padding: 0 !important;
        min-width: 100%;
        font-size: $base-font-size * 2.25 !important;
        font-weight: 500;
      }
      > .webform-section-wrapper {
        padding: 6mm 0;
        label {
          font-weight: 500;
        }
      }
    }
  }

  @media print {

    .webform-submission-data > section {
      border-top: 0px var(--color-black-20) solid !important;
      padding-top: 0 !important;
    }
    .hds-notification,
    .webform-progress-tracker-mobile,
    .webform-progress-tracker,
    .messages__container,
    header.header,
    nav.breadcrumb,
    .tools__container,
    footer.footer,
    button,
    .form-actions {
      display: none !important;
    }

    div.main-content {
      margin: 0;
    }
    .gin--horizontal-toolbar .dialog-off-canvas-main-canvas {
      padding: 0 !important;
    }
    .webform-print-page-body {
      .webform-multiple-add {
        display: none;
      }
      .hds-text-input .hds-text-input__input[readonly], .hds-text-input .hds-text-input__input {
        border: 2px black solid;
      }

      label {
        font-size: 10pt;
      }
      .webform-element {
        position: relative;
        border: 1px black solid;
        padding: 2.5mm;
        margin-bottom: 8mm;
      }

      .webform-multiple-table--operations {
        display: none;
      }

      .webform-print {
        &-wrapper-table {
          overflow-x: initial;
          border: 0;
          margin: 0;
        }

        &-header,
        &-header-space {
          height: 21mm;
          background: white;
          font-size: 9pt;
        }
        &-footer,
        &-footer-space {
          height: 17mm;
          background: white;
          font-size: 9pt;
        }

        &-header {
          position: fixed;
          left: 0;
          top: 0;
          background: white;
          width: 100%;
          display: flex;
          flex-flow: row nowrap;
          min-width: 100%;
          max-width: 100%;
          z-index: 1000;
          align-items: center;
          border-bottom: 1px var(--color-black-40) solid;
          svg {
            height: 25mm;
            width: 55mm;
            display: block;
            margin-right: 3mm;
            color: black;
          }
          .webform-print-header-left-text {
            text-align: left;
            width: 100%;
            color: var(--color-black-40);
          }
          .webform-print-header-right-text {
            text-align: right;
            width: 100%;
            color: var(--color-black-40);
          }
        }
        &-footer {
          position: fixed;
          bottom: 0;
          left: 0;
          background: white;
          width: 100%;
          display: flex;
          flex-flow: row nowrap;
          min-width: 100%;
          max-width: 100%;
          z-index: 1000;
          align-items: center;
          border-top: 1px var(--color-black-40) solid;

          svg {
            height: 15mm;
            width: 33mm;
            display: block;
            margin-right: 3mm;
            color: black;
          }
          .webform-print-footer-left-text {
            text-align: left;
            width: 100%;
            color: var(--color-black-40);
          }
          .webform-print-footer-right-text {
            text-align: right;
            width: 100%;
            color: var(--color-black-40);
          }
        }
      }

    }
    .webform-preview {

      label {
        position: absolute;
        top: -6mm;
        left: 0mm;
        font-size: 10pt;
      }
      .webform-element {
        position: relative;
        border: 1px black solid;
        top: 5mm;
        padding: 2.5mm;
        margin-bottom: 8mm;
      }

      .webform-multiple-table--operations {
        display: none;
      }
      .webform-print {
        &-wrapper-table {
          overflow-x: initial;
          border: 0;
          margin: 0;
        }

        &-header,
        &-header-space {
          height: 21mm;
          background: white;
          font-size: 9pt;
        }
        &-footer,
        &-footer-space {
          height: 17mm;
          background: white;
          font-size: 9pt;
        }

        &-header {
          position: fixed;
          left: 0;
          top: 0;
          background: white;
          width: 100%;
          display: flex;
          flex-flow: row nowrap;
          min-width: 100%;
          max-width: 100%;
          z-index: 1000;
          align-items: center;
          border-bottom: 1px var(--color-black-40) solid;
          svg {
            height: 25mm;
            width: 55mm;
            display: block;
            margin-right: 3mm;
            color: black;
          }
          .webform-print-header-left-text {
            text-align: left;
            width: 100%;
            color: var(--color-black-40);
          }
          .webform-print-header-right-text {
            text-align: right;
            width: 100%;
            color: var(--color-black-40);
          }
        }
        &-footer {
          position: fixed;
          bottom: 0;
          left: 0;
          background: white;
          width: 100%;
          display: flex;
          flex-flow: row nowrap;
          min-width: 100%;
          max-width: 100%;
          z-index: 1000;
          align-items: center;
          border-top: 1px var(--color-black-40) solid;

          svg {
            height: 15mm;
            width: 33mm;
            display: block;
            margin-right: 3mm;
            color: black;
          }
          .webform-print-footer-left-text {
            text-align: left;
            width: 100%;
            color: var(--color-black-40);
          }
          .webform-print-footer-right-text {
            text-align: right;
            width: 100%;
            color: var(--color-black-40);
          }
        }
      }
    }
  }
}
.webform-print-header,
.webform-print-footer {
  display: none;
}
