
<p>This could be front page for grants profile data</p>

<p>{{ company_select_form }}</p>

<ul>
  <li><a href="/grants-profile/address">Addresses</a></li>
  <li><a href="/grants-profile/application-officials">Officials</a></li>
  <li><a href="/grants-profile/bank-accounts">Bank accounts</a></li>
</ul>
{{ content }}
