
<p>This could be front page for grants profile data</p>

<p>{{ company_select_form }}</p>

<ul>
  <li><a href="/grants-profile/address">Addresses</a></li>
  <li><a href="/grants-profile/application-officials">Officials</a></li>
  <li><a href="/grants-profile/bank-accounts">Bank accounts</a></li>
</ul>

{% if applications %}
  <ul class="company-address-list">
    {% for key,item in applications %}
      <li class="user-applications">
        <a href="/grants-profile/applications/{{ item.id }}">
          {{ item.transaction_id }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}

{{ content }}
