
<div class="oma-asiointi">
    {% if unread %}
        <ul class="container unreadlist">
        {% for msg in unread %}
            <li>{{ msg }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <div class="oma-asiointi__list" id="">
      <div class="container">
        {{ drafts }}
      </div>
    </div>
    <div class="oma-asiointi__list" id="oma-asiointi__sent">
      <div class="container">
        {{ others }}
      </div>
    </div>
</div>
