.application-list {
  padding-left: 0;
  padding-bottom: var(--spacing-xl);
  &__item {
    display: block;
    background: var(--color-bus-light);
    margin: var(--spacing-m) 0;
    padding: var(--spacing-m) var(--spacing-s);
    h3, h4 {
      margin-top: var(--spacing-xs);
    }
    h4 {
      font-size: 1rem;
    }
    &__link {
      margin-top: var(--spacing-m);
      display:flex;
      a {
        font-size: 1.25rem;
        i {
          vertical-align: text-bottom;
        }
      }
    }
    &__row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      gap: var(--spacing-m);
      &__left {
        justify-content: flex-start;
      }
    }
    &--status {
      display: inline-flex;
      gap: var(--spacing-2-xs);
      font-weight: bold;
      padding: var(--spacing-2-xs) var(--spacing-s);
    }
    &--status + .hds-loading-spinner {
      display: inline-block;
      left: 10px;
      margin: 0;
      padding: 0;
      top: var(--spacing-3-xs);
      position: relative;
    }
    &--status.hide-spinner + .hds-loading-spinner {
      display: none;
    }

    &--status + div + .application-list__item--error {
      display: none;
    }
    &--status.show-error {
      background: var(--color-black-20);
      color: var(--color-black-90);
    }
    &--status.show-error + div + .application-list__item--error {
      display: inline-flex;
      left: var(--spacing-xs);
      margin: 0;
      padding: 0;
      top: var(--spacing-3-xs);
      position: relative;
      .application-list--error-text {
        margin-left: var(--spacing-2-xs);
        display: inline-block;
      }
    }
    &--status--draft {
      padding-left: 0;
    }
    &--status--submitted, &--status--sent {
      background: var(--color-alert);
    }
    &--status--received, &--status--pending {
      background: var(--color-engel);
    }
    &--status--processing {
      background: var(--color-fog);
    }
    &--status--done, &--status--ready {
      background: var(--color-copper);
    }
    &--status--rejected, &--status--deleted, &--status--canceled, &--status--cancelled, &--status--done {
      background: var(--color-alert);
    }
    &--status--error {
      background: var(--color-error);
      color: var(--color-white);
      text-transform: uppercase;
    }
  }
  &__count {
    font-size: 1.5rem;
    &-value {
      font-weight: bold;
    }
  }
  &__information-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    @media screen and (max-width: 35rem) {
      flex-flow: row wrap;
    }
    .grant-applications--select-wrapper select {
      width: 322px;
      max-width: 100%;
    }
  }
  &__search-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    @media screen and (max-width: 35rem) {
      flex-flow: row wrap;
    }
      > * {
    }
    gap: var(--spacing-s);
    .hds-text-input {
      flex: 1 100%;
      max-width: 100%;
      &__input-wrapper {
        display:block;
        input {
          width: 100%;
        }
      }
    }
    button {
      white-space: nowrap;
    }
  }
}
