.application-list {
  &__item {
    display: block;
    background: var(--color-bus-light);
    margin: var(--spacing-m) 0;
    padding: var(--spacing-m) var(--spacing-s);
    h3, h4 {
      margin-top: var(--spacing-xs);
    }
    &__row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      &__left {
        justify-content: flex-start;
      }
      > div {
        margin-left: var(--spacing-m);
        &:first-child {
          margin-left: 0;
        }
      }
    }
    &--status {
      display: inline-block;
      font-weight: bold;
    }
    &--status--submitted, &--status--sent {
      padding: var(--spacing-3-xs) var(--spacing-s);
      background: var(--color-alert);
    }
    &--status--received, &--status--pending {
      padding: var(--spacing-3-xs) var(--spacing-s);
      background: var(--color-engel);
    }
    &--status--processing {
      padding: var(--spacing-3-xs) var(--spacing-s);
      background: var(--color-fog);
    }
    &--status--done, &--status--ready {
      padding: var(--spacing-3-xs) var(--spacing-s);
      background: var(--color-copper);
    }
    &--status--rejected, &--status--deleted, &--status--canceled, &--status--cancelled, &--status--done {
      padding: var(--spacing-3-xs) var(--spacing-s);
      background: var(--color-alert);
    }
  }
  &__search-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    @media screen and (max-width: 35rem) {
      flex-flow: row wrap;
    }
      > * {
    }
    gap: var(--spacing-s);
    .hds-text-input {
      flex: 1 100%;
      max-width: 100%;
      &__input-wrapper {
        display:block;
        input {
          width: 100%;
        }
      }
    }
    button {
      white-space: nowrap;
    }
  }
}
