.webform-element-description {
  --helper-color-default: var(--color-black-60);

  display: block;
  line-height: var(--lineheight-l);
  font-size: var(--fontsize-body-m);
  color: var(--helper-color-default);
}
