.webform-element-help {
  background: var(--color-white);
  color: var(--hdbt-color-black);
  border-color: var(--hdbt-color-black);
}
.tippy-box {
  background-color: var(--color-black-5);
  border-left: 10px var(--color-coat-of-arms) solid;
  padding: var(--spacing-s);
  color: black;
  border-radius: 0;
}
.tippy-arrow {
  color: var(--color-black-5);
}
