
.webform-section {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: left;
  > h2.webform-section-title {
    color: var(--hdbt-color-black);
    display: block;
    font-weight: 500;
    margin-bottom: $spacing-quarter;
    max-width: 400px;
    width: 100%;
    font-size: 24px;
    flex-shrink: 0;
    margin-top: 0;
  }
  > .webform-section-wrapper {
    min-width: 50%;
    padding-left: $spacing-triple;
    @include breakpoint($breakpoint-m) {
      padding-left: 0px;
    }
  }
}
