
.webform-section {

  display: flex;
  flex-flow: row wrap;
  @include breakpoint($breakpoint-m) {
    flex-flow: row nowrap;
  }
  width: 100%;
  justify-content: left;
  > h2.webform-section-title {
    color: var(--hdbt-color-black);
    display: block;
    font-weight: 500;
    margin-bottom: $spacing-quarter;
    width: 100%;
    hyphens: none;
    @include breakpoint($breakpoint-m) {
      width: 35%;
      max-width: 350px;
    }
    padding-right: $spacing-triple;
    font-size: 24px;
    flex-shrink: 0;
    margin-top: 0;
  }
  > .webform-section-wrapper {
    font-size: $base-font-size;
    width: 100%;
    padding-left: $spacing-triple;
  }
  .form-required::after {
    content: '*';
    display: inline;
  }
  legend {
    font-size: $base-font-size;
    font-weight: bold;
    margin-bottom: $spacing;
  }
  .js-form-type-textarea .hds-text-input__input-wrapper {
    display: block;
  }
}

.webform-progress {
  .webform-progress-tracker-mobile {
    display: block;
    @include breakpoint($breakpoint-m) {
      display: none;
    }
    padding-bottom: $spacing;
    margin-bottom: $spacing;
    border-bottom: 1px rgba(0,0,0,0.5) solid;
    .webform-progress-tracker-mobile-wrapper {
      display: flex;
      align-items: baseline;


      .progress-marker::before {
        background-color: var(--hdbt-color-black);
        color: var(--color-white);
        border: 2px var(--hdbt-color-black) solid;
        width: 55px;
        height: 55px;
        font-size: $base-font-size * 1.5;
        margin-bottom: $spacing;
        font-weight: 500;
        letter-spacing: -2px;
      }
      .progress-info {
        padding-left: $spacing;
      }
    }
  }
  .webform-progress-tracker {
    display: none;
    @include breakpoint($breakpoint-m) {
      display: flex;
    }
    .progress-title[role="link"] {
      text-decoration: underline;
      color: var(--hdbt-color-black);
      &:hover {
        text-decoration: none;
      }
    }

    .progress-step {
      .progress-marker::after {
        right: calc(-50% - 25px);
        top: 25px;
        height: 2px;
        background: repeating-linear-gradient(
          90deg,
          var(--color-white),
          var(--color-white) 8px,
          rgba(0,0,0,0.5) 1px,
          rgba(0,0,0,0.5) 20px
        );
      }
      .progress-marker::before {
        background-color: var(--color-white);
        color: var(--hdbt-color-black);
        border: 2px var(--hdbt-color-black) solid;
        width: 55px;
        height: 55px;
        font-size: $base-font-size * 1.5;
        margin-bottom: $spacing;
        font-weight: bold;
      }
      &.is-active {
        &:hover {
          .progress-marker::before {
            background-color: var(--hdbt-color-black);
            color: var(--color-white);
            border: 4px var(--hdbt-color-black) solid;
          }
        }
        .progress-marker::before {
          background-color: var(--hdbt-color-black);
          color: var(--color-white);
          border: 4px var(--hdbt-color-black) solid;
        }
      }
      .progress-marker::before {
        background-color: var(--color-white);
        color: #888;
        border-color: #888;
      }
      &:hover .progress-marker::before {
        background-color: var(--color-white);
        color: #888;
        border-color: #888;
      }

      &:not(.is-active).is-complete {
        .progress-marker::before {
          background-color: var(--color-white);
          color: var(--hdbt-color-black);
          border: 4px var(--hdbt-color-black) solid;
          content: "L";
          transform: scale(-1, 1) rotate(-45deg);
          font-size: $base-font-size * 2;


        }
        &:hover {
          .progress-marker::before {
            background-color: var(--color-white);
            color: var(--hdbt-color-black);
            border: 4px var(--hdbt-color-black) solid;
          }
        }
      }
    }
  }
}
.webform-submission-form .form-actions {
  margin-top: $spacing-double;
  padding-top: $spacing-triple;
  border-top: 1px rgba(0,0,0,0.5) solid;
  @include breakpoint($breakpoint-m) {
    display: flex;
    justify-content: space-between;
  }
  input {
    width: 100%;
    margin-bottom: $spacing;
    @include breakpoint($breakpoint-m) {
      width: auto;
    }
  }
  input.webform-button--draft {
    color: var(--hdbt-color-black);
    background: transparent;
    border: 0px transparent solid;
    text-decoration: underline;
    order: 3;
  }
  input.webform-button--previous {
    background: white;
    color: var(--border-color);
  }
}

.webform-preview {
  label {
    display: block;
    font-weight: bold;
  }
}
