.js-form-type-webform-table {
  table {
    width: 100%;
  }
  th {
    text-align: left;
  }
  td {
    vertical-align: middle;
    > div {
      margin-bottom: 0;
      height: auto;
      label {
        margin: -1px;
      }
    }

  }
  .hds-text-input label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  .hds-checkbox label.hds-checkbox__label::after {
    content: '';
  }
}
.webform-section-flex-wrapper {

  display: flex;
  flex-flow: row wrap;
  @include breakpoint($breakpoint-m) {
    flex-flow: row nowrap;
  }
  width: 100%;
  justify-content: left;
  > h2.webform-section-title {
    color: var(--hdbt-color-black);
    display: block;
    font-weight: 500;
    margin-bottom: $spacing-quarter;
    width: 100%;
    hyphens: none;
    @include breakpoint($breakpoint-m) {
      width: 35%;
      max-width: 350px;
    }
    padding-right: $spacing-triple;
    font-size: 24px;
    flex-shrink: 0;
    margin-top: 0;
  }
  > .webform-section-wrapper {
    font-size: $base-font-size;
    width: 100%;
    padding-left: $spacing-triple;
  }
  .form-required::after {
    content: '*';
    display: inline;
  }
  legend, label {
    font-size: $base-font-size;
    font-weight: bold;
    margin-bottom: $spacing;

  }
  label.hds-radio-button__label {
    font-weight: normal;
  }
  .checkboxes--wrapper label {
    font-weight: normal;
  }

  .js-form-type-textarea .hds-text-input__input-wrapper {
    display: block;
  }
}

form .hds-text-input__input-wrapper input {
  &.webform--small {
    max-width: 125px;
  }
  &.webform--large {
    max-width: 588px;
  }

}
