.grants-handler {
  &__completion {
    &__info-row {
      display: flex;
      flex-flow: row wrap;
      gap: var(--spacing-m);
      justify-content: flex-start;
    }
    &__item {
      &--number {

      }
      &--submitted {

      }
    }
  }
}
