.webform-multiple-table {
  table {
    margin-bottom: var(--spacing-2-xs);
    border: 0px var(--color-white) solid;
    border-collapse: collapse;
    max-width: fit-content;
  }
  .webform-multiple-table--operations-two {
    min-width: 60px;
  }
  tbody tr, thead tr {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }


  td, th {
    padding-top: 0;
    padding-bottom: 0;
    min-width: 0;
    max-width: 100%;
    width: 100%;
  }
  table thead th {
    padding: var(--spacing-layout-2-xs);
  }

}
div.hidden-head table {
  display:table;
  thead th {
    padding: 0;
  }

  tbody tr {
    border-bottom: var(--spacing-s) var(--color-white) solid;

    &:hover {
      background: transparent;
    }
  }
}
div.table-layout-form {
  input.hds-text-input__input {
    width: 100%;
  }
  table {
    border: 1px var(--color-black) solid;
    max-width: 588px;
    tbody {
      tr {
        border: §0px var(--color-black-30) solid;
        td {
          padding: 0;
          border: 1px var(--color-black-30) solid;

          input.hds-text-input__input[readonly] {
            padding: var(--spacing-layout-2-xs);
          }
        }
      }
    }
    .form-item {
      margin-bottom: 0;
    }
  }
}
.hds-text-input .hds-text-input__input.input--borderless {
  border: 0px transparent solid;
}
#subventions_table {
  td, th {
    &.webform-multiple-table--operations {
      display:none;
    }
  }
}

