.webform-submission-messages {
  background: var(--color-silver-light);
  padding: var(--spacing-l);
  margin-top: var(--spacing-3-xl);
  h4, h5 {
    margin-top: 0;
  }
  hr {
    margin: var(--spacing-l) 0;
  }
  &__new-message {
    text-transform: uppercase;
    font-weight: bold;
    background: var(--color-alert);
    padding: var(--spacing-2-xs) var(--spacing-xs);
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-2-xs);
    margin-bottom: var(--spacing-m);
  }
  &__messages-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__message {
    margin: 0;
    padding: 0;
    &__attachments {
      list-style: none;
    }
  }
}
