$breakpoint-xs: 320px;
$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-l: 992px;
$breakpoint-xl: 1248px;

.webform-submission-form .form-actions {
  margin-top: var(--spacing-l);
  padding-top: var(--spacing-2-xl);;
  border-top: 1px rgba(0, 0, 0, 0.6) solid;
  @include breakpoint($breakpoint-m) {
    display: flex;
    justify-content: space-between;
  }
  input {
    width: 100%;
    margin-bottom: var(--spacing-layout-2-xs);
    @include breakpoint($breakpoint-m) {
      width: auto;
    }
  }
  input.webform-button--draft {
    color: var(--hdbt-color-black);
    background: transparent;
    border: 0px transparent solid;
    text-decoration: underline;
    order: 3;
  }
  input.webform-button--previous {
    background: white;
    color: var(--border-color);
  }
}
