{#
/**
 * @file
 * Default theme implementation for a webform submission form.
 *
 * Available variables:
 * - form: The webform submission form.
 *
 * @ingroup themeable
 */
#}

<div>

    <b>Error messages suppressed until they work properly. No validation in Drupal and validation is done only when moving on from DRAFT status.</b>

    {# <ul>
    {% for page in errors %}
        {% for element in page %}
            <li>{{ element }}</li>
        {% endfor %}
    {% endfor %}
    </ul> #}
</div>

{{ form }}
