{#
/**
 * @file
 * Default theme implementation for a webform submission form.
 *
 * Available variables:
 * - form: The webform submission form.
 *
 * @ingroup themeable
 */
#}

<div>
    Tämä kohta submission-form templatessa, myös tähän vois tulostaa virheet muuten ku Drupalmessagesin avulla?
</div>

{{ form }}
